/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 25, 2025, 3:25:58 PM
    Author     : pedro
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

:root{
    --bg-color-dark: #131200;
    --text-color-dark: #EDF2F4;
    --links-color-dark: #EFBDEB;
    --links-color-hover: #8D91C7;
    --nav-links: #8D3FD1;
    --highlight: #EDF67D;
    --bg-color-form:#3E5577;
    --bg-color-odd:#6185ba;
    --text-color-red:#E27E7C
}


body, main, h3{
    padding: 0;
    margin: 0;
}

a{
    color: var(--links-color-dark);
    text-decoration: none;
}